

.text{
    font-size: 4em;
    position: absolute;
    width: 50%;
    margin-top: 10em;
    margin-left: 4em;
    padding-bottom: 3em;
}


@media screen and (max-width: 768px){

    .text{
        font-size: 1.5em;
        width: 70%;
        margin-left: 1em;
    }
  }