

.btn-main{
    position: relative;
    margin-top: 70em;
}


.arrow{
    position: absolute;
    width: 200px;
    right: 45em;
    top: 24em;
    transform: rotate(180deg);
}



@media screen and (max-width: 768px){

   .btn-main{
    width: 90px;
    margin-left: 2em;
    margin-top: 29em;
    padding-bottom: 4em;
   }

 

  }


  @media screen and (min-width:1024px){
    .arrow{
        right: 12em;
        top: 24em;
    }

    .btn-main{
        margin-top: 130em;
        margin-left: -66em;
    }
  }


  @media screen and (min-width: 2560px) {
    .arrow{
        right: 92em;
    }
  }