@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,400;0,600;0,700;0,900;1,100;1,200;1,600&family=Fira+Code:wght@400;500&family=Hanken+Grotesk:wght@200;300;500&family=Manrope:wght@200;300;400;500;600;700;800&family=Noto+Sans+JP:wght@300;400;500&display=swap');


html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    margin: 0 auto;
    width: 100%;
}


h1{
    display: flex;
    justify-content: center;
}

p{
    margin: auto;
    width: 50%;
    font-weight: 300;
    font-family: 'Hanken Grotesk', sans-serif;
}

.astro-code{
    width: 30%;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    padding-left: 23px;
}

code{
    font-size: 14px;
    
    font-family: 'Fira Code', monospace;
}

em > strong{

    padding-bottom: 9em ;
}




@media screen and (max-width: 768px) {

    h1{
        text-align: center;
        font-size: 17px;
        font-weight: 900;
        margin-top: 3em;
        margin-bottom: 1.5em;
        padding-left: 2em;
        padding-right: 2em;
        text-decoration: underline;
    }

    p{
        width: 90%;
    }

    .astro-code{
        width: 90%;
    }
    code{
        font-size: 13px;
    }

}