



button{
    margin-left: 80em;
    margin-top: 24em;
    width: 250px;
    height: 40px;
    outline: 0;
    border: 0;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px 24px 16px;

    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    transition: transform 200ms,background 200ms;
    background: transparent;
    color: #000000;
    box-shadow: 0 0 0 3px #000000 inset; 
}

button:hover{
    transform: translateY(-2px);
}


button > a{
    color: #000000;
    text-decoration: none;
}



@media screen and (max-width: 768px){

    button{
        margin-left: 2em;
    }
}
