---
import Layout from "../layouts/Layout.astro";
import Typed from 'typed.js';
import AOS from "aos";
import "aos/dist/aos.css";
import { useEffect } from 'react';



---



<Layout>
    <div >
    </div>

</Layout>