---
import Layout from "../layouts/Layout.astro";;
import Cards from "../components/Blogcards.astro";
import Header from "../components/Header.astro";
import High from "../components/Highlight.astro";
import Text from "../components/Text.jsx";
import AOS from "../components/AOS.jsx";

---



<Layout>
    <Header />
    <div >
    <Text client:load />
    </div>
     <AOS client:load />
 <High />
</Layout>