---
import Layout from "../layouts/Layout.astro";
---
<Layout title="satori">
	<body>
		<h1>Satori(悟り) </h1>
		<span>Satori means the experience of awakening ("enlightenment") or apprehension of the true nature of reality.[3][6] It is often considered an experience which cannot be expressed in words.[6] While the term satori is derived from the Japanese verb "to know" (satoru), it is distinct from the philosophical concept of knowledge as it represents a transcendence of the distinction between one that knows and knowledge.[3]</span>
	</body>
</Layout>
	
	

