---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import High from "../components/Highlight.astro";
import Star from "../components/Star.astro";
import About from "../components/About.astro";
import Cards from "../components/Blogcards.astro";
import "../styles/global.css";
---

<Layout >
  <Header />
  <body>
    <div class="container">
      <div class="about">
        <span class="pro"> <b class="stop"></b>software developer</span>
        <span class="About-me">
          Hello, I'm a software developer with experience in Next JS, React JS,
          Astro JS, Prisma, Firestore, JavaScript, and Python. I'm passionate
          about developing modern, efficient web applications that solve
          real-world problems. I enjoy working with the latest technologies to
          create user-friendly web experiences that are both intuitive and
          visually appealing. I'm well-versed in web development best practices
          and have a deep understanding of front-end development. I'm also
          comfortable working with back-end development and databases, such as
          Firestore. I'm always open to learning new technologies and
          techniques, and I'm not afraid to take on challenging tasks. I'm a
          dedicated and hardworking professional who is committed to developing
          high-quality applications.
        </span>
      </div>
      <div class="about2">
        <span class="about2-text">
          <h3>Language & Tools</h3>
          <ul class="tools">
            <li>-HTML, CSS & JavaScript</li>
            <li>-Python</li>
            <li>-Ruby</li>
            <li>-SQLite3</li>
            <li>-MongoDB</li>
            <li>-Git</li>
            <li>-Vercel</li>
            <ul class="frameworks">--FRAMEWORKS</ul>
            <li>-React js</li>
            <li>-Next js</li>
            <li>-Astro</li>
            <li>-Nextra themes</li>
          </ul>
        </span>
      </div>
      <div class="second-col">
        <h2>Some projects</h2>
        <section>
          <span class="projects">
            <div class="card1">
              <h1 class="card_header">AroundYou</h1>
              <span class="card_body"
                >Aroundyou is a blog concreted on discussing matter related to
                enviromental issues/ polluation around us.</span
              >
              <footer class="card_footer">
                <button class="card_btn">View</button>
                <button class="card_btn">Github</button>
              </footer>
            </div>
            <div class="card2">
              <h1 class="card_header">Automated ST</h1>
              <span class="card_body"
                >Automated Stock trading with RobinHood, TD ameri built with python and stock api's</span
              >
              <footer class="card_footer">
                <button class="card_btn">View</button>
                <button class="card_btn">Github</button>
              </footer>
            </div>
            <div class="card3">
              <h1 class="card_header">crypto-converter</h1>
              <span class="card_body"
                >Built with Cryptocurrency news live api and alpha vantage api</span
              >
              <footer class="card_footer">
                <button class="card_btn">View</button>
                <button class="card_btn">Github</button>
              </footer>
            </div>
          </span>
        </section>
      </div>

      <div class="quote">
        <h1 class="quote-header">Satori(悟り)</h1>
        <span class="quote-body"
          >Satori means the experience of awakening ("enlightenment") or
          apprehension of the true nature of reality.[3][6] It is often
          considered an experience which cannot be expressed in words.[6] While
          the term satori is derived from the Japanese verb "to know" (satoru),
          it is distinct from the philosophical concept of knowledge as it
          represents a transcendence of the distinction between one that knows
          and knowledge.[3]</span
        >
      </div>
	  <div class="quote2">
		<span class="quote2-main">
			<blockquote class="quote2_body">
				“The illiterate of the 21st century will not be those who cannot read and write, but those who cannot learn, unlearn, and relearn.”—Alvin Toffler
			</blockquote>
		</span>
	  </div>
      <div class="imageMe">
        <img class="imageme_img" src="./mw.svg" alt="svg of me" />
      </div>
      <Star is:raw />
      <div class="my_name">
        <span class="name_abbr">AC</span>
      </div>
    </div>
  
    <High />
  </body>
  <About />
</Layout>
