---
import Layout from "../layouts/Layout.astro";
import '../styles/header.css';
---



<Layout>
    <div>
        <h3 class="header-title">Aaron chris</h3>
        <div class="line-1"></div>
       
     
    </div>
</Layout>

