---
import Layout from "../layouts/Layout.astro";
import '../styles/header.css';

const next = Astro.redirect('/post/blog')
---



<Layout>
    <div class="flex_link">
        <ul class="flex_main">
            <li> <a href="/post/blog">Blog</a></li>
            <li> <a href="">Github</a></li>
            <li> <a href="/post/techblog">Tech Blog</a></li>
        </ul>
    </div>
    <div>
        <a class="home" href="/main">
            <h3 class="header-title">Aaron chris| 愛有論</h3>
            <div class="line-1"></div>
        </a>
       
     
    </div>

  
</Layout>

