---
import Layout from "../layouts/Layout.astro";
import '../styles/header.css';
---



<Layout>
    <div class="flex_link">
        <ul class="flex_main">
            <li> <a href="http://">Blog</a></li>
            <li> <a href="http://">Github & Links</a></li>
        </ul>
    </div>
    <div>
        <h3 class="header-title">Aaron chris| 愛有論</h3>
        <div class="line-1"></div>
     
    </div>

  
</Layout>

