---
import Layout from "../layouts/Layout.astro";
import '../styles/highlight.css';
---


<Layout>
    <div class="highlight">
        <span class="text-highlight">Made with 💖| repo available with code </span>
    </div>
</Layout>